# Operators

are used to perform operation between `values (variables).` 
`Operands` are the variables that the operator is applied to.

`x + y`: &emsp; `x` and `y` are operand and `+` is operation.


<b>
    
1. Arithmatic Operators 

2. Assignment Operators

3. Comparison Opertors

4. Logical Operators

5. Membership Operator

6. Identity Operators  <b>

## 1. Arithmatic Operators 

`+` &emsp; Addition  + 

`-` &emsp; Subtraction  - 

`*` &emsp; Multiplication *

`/` &emsp; Division / (Integer Division //, Modulus or Remainder % )

`**` &emsp; Exponential  **

In [ ]:
x = 5
y = 12

In [ ]:
x + y

In [ ]:
x - y

In [ ]:
x * y

In [ ]:
x / y

In [ ]:
x // y

In [ ]:
x % y

## 2. Assignment Operators

are used to assign values to variables. 


`=` &emsp; Assignment Operator   
  
`+=` &emsp; Addition Assignment
    
`-=` &emsp; Subtraction Assignment
    
`*=` &emsp; Multiplication Assignment
    
`/=` &emsp; Division Assignment
    
`%=` &emsp; Remainder Assignment
    
`**=` &emsp; Exponent Assignment

In [ ]:
x = 2                 # assign 2 to x
print(x)

In [ ]:
x = x + 3            # assign x + 3 to x
print(x)

In [ ]:
x = 2               # assign 2 to x
x += 3              # assign x + 3 to x
print(x)

In [ ]:
y = 12
y -= 2
print(y)

In [ ]:
y = 12
y /= 2
print(y)

In [ ]:
a, b = 4, 6
print('a =', a,' and ', 'b =', b)

## 3. Comparison Operators

`==`  &emsp; equal

`!=` &emsp; not equal

`>` &emsp; greater than

`<`  &emsp; less than

`>=` &emsp;  greater than or equal

`<=` &emsp; less than or equal

In [ ]:
x, y = 2, 5

x > y

In [ ]:
x < y

In [ ]:
x, y = 4, 4
print(x == y)     # double equal sign to check if they are equal
print( x <= y)
print(x >= y)

In [ ]:
print(x != y)

## 4. Logical Operators

Used to combine conditional statements and check if a statement if `True` or `False`

### AND 

Checks the validity of two conditions. If both conditions are true, it is true, otherwise, is false.

In [1]:
True and True

True

In [2]:
True and False

False

In [3]:
False and False

False

In [4]:
x, y = 5, 7
(x < 12) and (y > 5)

True

In [5]:
(x < 12) and (y > 15)

False

In [6]:
(x < 4) and (y > 15)

False

In [7]:
4 > 2 and 5 < 12 and 2 > 0

True

In [8]:
4 > 2 and 5 < 12 and 2 < 0

False

In [9]:
print(4 > 3 and 2 )
print(4 > 5 and 2 )
print(2 and 4 > 3 )

2
False
True

### OR

Checks the validity of two conditions. If one of them is true, it is true, otherwise, is false.

In [10]:
True or True

True

In [11]:
True or False

True

In [12]:
False or False

False

In [13]:
a, b = 3, 6
a > 5 or b < 10

True

In [14]:
a > 5 or b < 4

False

### not

It negates the value of a Boolean. `True` if the operand is `False` and vice-versa.

In [15]:
x, y = True, False

In [16]:
not x

False

In [17]:
not y

True

## 5.  Membership Operator

Checks if a sequence is in an object

`in`  &emsp; If variable is in the sequence then it is `True` 

`not in`  &emsp; If variable is not in the sequence then it is `True`

In [19]:
list1 = [1, 2, 3]
x = 1
x in list1

True

In [20]:
4 in list1

False

In [21]:
4 not in list1

True

## 6. Identity Operators

are used to compare objects

`is`  &emsp; If the operands are identical (same object), it is `True`

`is not` &emsp; If the operands are not the same object, it is `True`

In [22]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

In [23]:
a is c

True

In [24]:
a is b      # a and b have same value but they are different object

False

In [25]:
a is not b

True

## Operation Order (precedence)

In [26]:
x = 12 + 3 * 5
print(x)

x1 = (12 + 3) * 5
print(x1)

27
75

1. Parentheses                                          ()

2. Exponent                                             **

3. Unary plus, Unary minus                              +x, -x	

4. Multiplication, Division, Floor division, Modulus    *, /, //, %

5. Addition, Subtraction                                +, -

In [ ]:
x = 12 + 3 * 5
x

In [ ]:
x = (12 + 3) * 5
x